nav {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 9999;
    padding: 15px 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.bread-crumb {
    display: flex;
    align-items: flex-start;
    padding: 0px 15px;
}
.bread-crumb .bc-inner {
    align-self: center;
    font-size: 14px;
}
.bc-button {
    height: auto;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    animation: slide-right 0.4s ease;
}
.bc-button:last-child {
    color: rgba(0, 0, 0, 1);
}
.bread-crumb img {
    width: 6px;
    margin: 0px 12px;
}

.navBackButton {
    height: 20px;
    color: white;
    align-self: center;
    background-color: transparent;
    outline: none;
    border: none;
    background-image: url('../images/Back\ \(1\).png');
    background-position: center;
    background-size: cover;
    margin: 0 5px 0 15px;
}
.navBackButton:hover {
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
    justify-self: center;
}


/* Keyframe animations */
@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}